requests==2.32.3
beautifulsoup4==4.12.3
python-dateutil==2.9.0.post0
dateparser==1.2.0
icalendar==5.0.13
PyYAML==6.0.2
google-api-python-client==2.156.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
